.wd-assignment-border-thin {
    border-width: 4px;
}

.wd-assignment-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-assignment-border-black {
    border-color: #0c0c0c;
}

.wd-assignment-border-solid {
    border-style: solid;
}